!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>RBC</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut-icon" href="RBC.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">

  <link rel="stylesheet" href="styles/app.css">
</head>

<body ng-app="MyApp" ng-cloak>
  <div id="ban">
  <img id="logo" src="RBC.png">
  <h1>Rbc Developers</h1>
  </div>
  <md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="" md-swipe-content="">
      <md-tab label="Projects">
      <h1 class="md-display-2 md-padding">Projects</h1>
      <md-input-container>
        <label><i class="material-icons">search</i> Search projects</label>
        <input type="text" ng-model="sea">
      </md-input-container>
      
        <md-content class="scroll" ng-controller="TabOne">

        <md-card ng-repeat="p in projects | filter:sea" md-ink-ripple>
        <div class="cont">
        <img ng-src="{{p.imagePath}}" class="md-card-image" alt="Washed Out">
        </div>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{p.title}}</span>
          </md-card-title-text>
          <md-card-actions layout="row" layout-align="end center">
          <a href="{{p.link}}"><md-button>Visit Here <i class="material-icons">link</i></md-button></a>
        </md-card-actions> 
        </md-card-title>
        <md-card-content>
          <p ng-bind-html="p.content | unsafe"></p>

        </md-card-content>
      </md-card>
        </md-content>
      </md-tab>
    </md-tabs>
    <md-toolbar class="md-medium-tall">
        <div layout="row" layout-align="center center" flex>
          <span>Made by bhavya with <i class="material-icons" style="color: red;">favorite</i> using Angularjs</span>
        </div>
    </md-toolbar>
  </md-content>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <script src="scripts/app.js"></script>

</body>

</html>
